In [1]:
# Import the required libraries and dependencies
import numpy as np
import pandas as pd
import os
import requests
import json
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from dotenv import load_dotenv
#from MCForecastTools import MCSimulation

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

#Add disclaimer for efficacy of model (restricted to CONUS)

In [2]:
#Read CSV file from the Resources folder into a Pandas Dataframe

realtor_data = pd.read_csv(
    Path("Resources/realtor_data.csv")
        )
    
#Review the dataframe 
#realtor_data

realtor_data.columns
#Notes: inputs
#bed, bath, acre, state, house_size 
#target: price

Index(['status', 'price', 'bed', 'bath', 'acre_lot', 'full_address', 'street',
       'city', 'state', 'zip_code', 'house_size', 'sold_date'],
      dtype='object')

In [3]:
# Drop unncessary data
realtor_data = realtor_data.drop(columns = ['status', 'full_address', 'street', 'city', 'zip_code', 'sold_date'])
#Review Dataframe
realtor_data

           price  bed  bath  acre_lot        state  house_size
0       105000.0  3.0   2.0      0.12  Puerto Rico       920.0
1        80000.0  4.0   2.0      0.08  Puerto Rico      1527.0
2        67000.0  2.0   1.0      0.15  Puerto Rico       748.0
3       145000.0  4.0   2.0      0.10  Puerto Rico      1800.0
4        65000.0  6.0   2.0      0.05  Puerto Rico         NaN
...          ...  ...   ...       ...          ...         ...
402154  299900.0  4.0   3.0      0.29  Connecticut      2374.0
402155  275000.0  3.0   2.0      0.53  Connecticut      1548.0
402156   99900.0  2.0   1.0      0.11  Connecticut       569.0
402157  259700.0  3.0   2.0      0.83  Connecticut      1656.0
402158  399900.0  4.0   2.0      2.15  Connecticut      2086.0

[402159 rows x 6 columns]

In [4]:
#realtor_data['sold_date']=pd.to_datetime(realtor_data['sold_date'], infer_datetime_format=True)
#realtor_data['sold_date'].dt.year
#realtor_data = realtor_data[realtor_data['sold_date'].notna()]
#realtor_data['sold_date'].isna().sum()

In [5]:
#Plot Data
#realtor_data.groupby([realtor_data['sold_date'].dt.year, realtor_data['sold_date'].dt.month])['price'].mean().plot(figsize=(15, 5))

In [6]:
realtor_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402159 entries, 0 to 402158
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   price       402159 non-null  float64
 1   bed         314887 non-null  float64
 2   bath        316400 non-null  float64
 3   acre_lot    326858 non-null  float64
 4   state       402159 non-null  object
 5   house_size  318977 non-null  float64
dtypes: float64(5), object(1)
memory usage: 18.4+ MB

In [ ]:
#

## PART 2: Fit the Model

In [7]:
#Target
y = realtor_data[['price']]
#Inputs
X = realtor_data.drop(columns = y)
X = X.drop(columns = ['sold_date'])

#Review Data
display(y)
display(X)
X['state'].value_counts()

KeyError: "['sold_date'] not found in axis"

In [ ]:
from sklearn.model_selection import train_test_split

#Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [ ]:
from sklearn.linear_model import LinearRegression

#Instantiate Regression Model
model = LinearRegression().fit(X,y,sample_weight = None)

In [ ]:
#Adjust for inflation
#Lorem Ipsum

In [ ]:
## Load the environment variables from the .env file
#by calling the load_dotenv function
#STORE API KEY IN .ENV FILE

#load_dotenv()

In [ ]:
#Make the API Calls
# Make the API request
#response = requests.get("endpoint").json()

# Display the response data
#print(json.dumps(response, indent=4, sort_keys=True))